*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    border: none;
    transition: 0.2s linear;
}

body{
    background-color: black;
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 800px;
}

/*-----------------------------------------------------------------------*/
/*todas as interações do meu header ficam aqui*/
.topo{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;/*decide a sobreposição de itens*/
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.topo section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navegador a{
    color: aliceblue;
    font-size: 1.8rem;
}
.navegador a:hover{
    color: aqua;
    font-size: 2rem;
    padding-bottom: 5px;
    border-bottom: 1px solid aqua;
}

.icones img{
    width: 2rem;
    margin: 10px;
    cursor: pointer;
}

.icones img:hover{
    width: 3rem;
    height: 3rem;
}
/*-------------------------------------------------------------------------*/
.home-container{
    background: url(./imagens/bandeirao.jpg);
    background-position: center;
    background-size: cover;
}
.home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.btn{
    display: inline-block;
    background-color: #d3ad7f;
    color: #fff;
    padding: 10px 30px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 1rem;
}
.content{
    max-width: 600px;
}
.content h3{
    font-size: 60px;
    color: #fff;
}
.content p{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.8;
}
